<div ng-controller="dropdownCtrl">
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="about-dropdown" uib-dropdown-toggle class="dropdown-toggle a-dropdown">
        About <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="about-dropdown">
          <li><a href="/home#code">The Code</a></li>
          <li><a href="/home#cocktails">The Cocktails</a></li>
          <li><a href="/home#mentors">Mentors</a></li>
          <li><a href="/home#contact">Contact</a></li>
      </ul>
    </span>
</div>