<section id="cocktails">
    <div class="container">
        <div class="col-md-7">
        <h4>The Cocktails</h4>
        <h5>We couldn't be more excited to partner with bartender Laura Wagner of Il Lazzarone and Logistics &amp; Libations. She brings the freshest local ingredients together with liquors from local vendors to create a custom cocktail menu to get your code on to.</h5>
        <!-- <a href="http://www.preservationmarket.com/" target="_blank">
            <img src="images/localpig-logo.png" />
        </a> -->
        </div>
        <div class="col-md-5">
            <div class="cocktails"></div>
        </div>
    </div>
</section>