<section id="code">
    <div class="container">
        <div class="col-md-4">
            <div class="row margin-top" ng-repeat="tools in cvm.tools | chunkBy:2">
                <div class="col-md-6" ng-repeat="tool in tools">
                    <a href="{{tool.url}}" target="_blank">
                        <img src="{{tool.img}}" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h4>The Code</h4>
            <h5>
                You've seen the paint &amp; wine classes, now it's time to get
                techy and learn web development basics over trendy cocktails.
            </h5>
            <h5>
                The first thing to know is <em>no prior programming experience is
                required!</em> We can say that because we have plenty of mentors on hand to
                help you through the tough parts, no matter when you choose to sign up. 
            </h5>
            <h5>
                As an intro to programming, you'll get an overview of how sites
                are built for the web, from basic HTML pages to building single page
                applications. You will learn about version control and how to collaborate with
                other developers using <a href="http://github.com" target="_blank"><b>GitHub</b></a>.
                We like to think of it as the <i>essential web developer tool kit</i>. 
            </h5>
            <h5>
                When you've got the basics down, you'll practice creating and
                deploying your own projects using resources like <a href="http://yeoman.io//" target="_blank"><b>yeoman</b></a> 
                to show off your epic coding prowess. And once you've hit the
                <a href="http://xkcd.com/323/" target="_blank"><b>Ballmer Peak</b></a>
                courtsey of crafted cocktails, it's to infinity and beyond in
                writing code and learning to mentor others.
            </h5>
        </div>
    </div>
</section>
