<div ng-controller="dropdownCtrl">
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="resource-dropdown" uib-dropdown-toggle class="dropdown-toggle a-dropdown">
        Resources <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="resource-dropdown">
        <li><a href="/resources#tools">The Tools</a></li>
        <li><a href="/resources#list">Monthly Slides &amp; Worksheets</a></li>
        <li><a href="/resources#resources">Learning Resources</a></li>
      </ul>
    </span>
</div>