<section id="list">
  <div class="list">
    <h3>Monthly Slides &amp; Worksheets</h3>
    <table class="tocTable">
<!--
      <tr>
        <td style="text-align: left;">January: HTML</td>
        <td><a href="http://bit.ly/CnCJanSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCJanWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
-->
      <tr>
        <td style="text-align: left;">January: HTML</font></td>
        <td><a href="http://bit.ly/CnCJanSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCJanWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td style="text-align: left;">February: CSS</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">March: Command Line</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">April: Version Control</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">May: Front-end Architecture</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">June: Intro to JavaScript</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">July: A deeper dive into Javascript</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">August: Intro to Package Managers</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">September: NodeJS &amp; APIs</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">October: Single Page Applications</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td style="text-align: left;">November: Micro-Hackathon</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
    </table>

  </div>
</section>
