<section id="list">
  <div class="list">
    <h3>Monthly Slides &amp; Worksheets</h3>
    <table class="tocTable">
      <tr>
        <td>January: HTML</td>
        <td><a href="http://bit.ly/CnCJanSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCJanWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td>February: CSS</td>
        <td><a href="http://bit.ly/CnCFebSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCFebWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td>March: Command Line</td>
        <td><a href="http://bit.ly/CnCMarSlides" class="listlink" target="_blank">slides</a></td>
        <td><a href="http://bit.ly/CnCMarWork" class="listlink" target="_blank">worksheet</a></td>
      </tr>
      <tr>
        <td><font style="color: #999">April: Version Control</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td><font style="color: #999">May: Front-end Architecture</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td><font style="color: #999">June: Intro to jQuery &amp; JavaScript</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td><font style="color: #999">July: A deeper dive into JavaScript</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td><font style="color: #999">August: Package Managers</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td><font style="color: #999">September: NodeJS &amp; APIs</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td><font style="color: #999">October: Single Page Applications</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
      <tr>
        <td><font style="color: #999">November: Micro-Hackathon</font></td>
        <td><font style="color: #999">slides</font></td>
        <td><font style="color: #999">worksheet</font></td>
      </tr>
    </table>
  </div>
</section>
