<section id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h4>Sign Up!</h4>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-5 map">
                <h5 id="hosting-venue">Proudly hosted by {{hvm.venue.name}}</h5>
                <a href="{{hvm.venue.url}}" target="_blank" alt="{{hvm.venue.name}}" class="host">
                    <img src="{{hvm.venue.img}}" alt="{{hvm.venue.name}}">
                </a>
                <p>{{hvm.venue.address}}</p>
                <ui-gmap-google-map center='hvm.map.center' zoom='hvm.map.zoom'>
                    <ui-gmap-marker coords="hvm.map.marker.coords" idkey="hvm.map.marker.id" options="hvm.map.marker.options"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
            <div class="col-md-7">
                <h5>Upcoming Session: April 8, 2017 5-9pm
                <br />(Introduction to Version Control)</h5>
                <p>Note: wifi-enabled laptops are required to attend!</p>
                <div style="width:100%; text-align:left;"><iframe src="//eventbrite.com/tickets-external?eid=31952765582&ref=ccweb" frameborder="0" height="325" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="no" allowtransparency="true"></iframe></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               <h5>2017 Sessions</h5>
               <p>Click on the event topic to sign up.</p>
               <p>If the event is not yet available for sign ups, you will be directed to the Kansas City Women in Technology Eventbrite page.</p>
               <ul class="list-unstyled" ng-repeat="topic in tvm.topics">
                    <li><b>{{topic.month}}</b> - <a href="{{topic.url}}" target="_blank">{{topic.topic}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
